.stats {
  display: flex;
  justify-content: center;
  gap:15px;
}

.count {
  color: black;
  text-decoration: none;
  padding: 0;
}

.liked {
  color: gold;
  padding: 0;
  text-decoration: none;
}

.liked:hover {
  color: black;
}

.notLiked {
  color: black;
  text-decoration: none;
  padding: 0;
}

.notLiked:hover {
  color: gold;
}

.linkIcon {
  display: flex;
  align-items: center;
}